# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.venv
venv/
ENV/
env/

# OS-specific
.DS_Store
Thumbs.db

# Theos build artifacts
theos/
.theos/
packages/
*.deb
